@charset "utf-8";
@font-face {
    font-family: NanumSquareR;
    src: url(../font/NanumSquareR.woff) format('woff');
}

@font-face {
    font-family: NanumSquareL;
    src: url(../font/NanumSquareL.woff) format('woff');
}

@font-face {
    font-family: NanumSquareB;
    src: url(../font/NanumSquareB.woff) format('woff');
}

h1, h2, h3, h4, h5, p {
    font-family: NanumSquareR, sans-serif;
    font-weight: bold 300;
}

.h3 {
    font-weight: bold;
}

.red {
    background: #fcc;
    border: #eaa solid 4px;
}

.navbar {
    margin-bottom: 0px;
}

.title {
    font-size: 50px;
}

.title_row {
    margin-bottom: 40px;
}

.carousel-inner img {
    width: 100%;
    /* max-width: 500px; */
}

#card_section {
    background: #eee;
}

#top_navbar {
    background: rgba(20, 20, 20, 0.9);
}

#top_navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 200px;
}

#logo {
    text-align: center;
    display: inline;
}

#section1 {
    padding-top: 100px;
}

#contact .title_row {
    margin-bottom: 30px;
}

#contact .form-control {
    margin-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

#contact input::placeholder, #contact textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
}

/****** modal ******/

.modal-body {
    padding-top: 60px;
}

.modal-body img {
    width: 100%;
}

.modal-body .input-group {
    margin-bottom: 30px;
}

.modal-footer {
    padding-bottom: 30px;
}

.modal-body, .modal-footer {
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    padding: 100px;
    background: #333;
    color: #777;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#page-content-wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #f5f9fa;
}

/*Sidebar*/

#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    margin-top: 0.9%;
    height: 100%;
    overflow-y: hidden;
    background: #f5f9fa;
    opacity: 0.9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*Main Content*/

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/*Chang the width of the sidebar to display it */

#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

/**/

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}

/*sider styling*/

.sidebar-nav {
    padding: 0;
    list-style: none;
    margin-top: 0px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: #16a085;
}

img {
    width: 100%;
}

.paging .numbering {
    float: right;
    position: relative;
    left: -50%;
}

.paging .numbering li {
    float: left;
    position: relative;
    margin-right: 20px;
    left: 50%;
}

.site-heading h3 {
    font-size: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.border {
    background: #d1360e;
    height: 2px;
    width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

/* Blog-CSS */

.blog-box {
    padding: 0 0px;
    transition: .5s;
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
}

.blog-box-content h4 a {
    font-size: 20px;
    padding: 0px 0 0px;
    text-transform: uppercase;
    color: #2b2b2b;
    text-decoration: none;
}

.blog-box-content h4:hover {
    color: #000;
    text-decoration: none;
}

.blog-box-content {
    padding: 0 20px 20px;
}

.blog-box-text h4 a {
    color: #333;
}

.box {
    padding: 60px 0px;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}

